/* General Styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

a {
    color: #82b1ff; /* Pastel blue */
    text-decoration: none;
}

a:hover {
    color: #ffab91; /* Pastel orange */
}

header {
    background-color: #1e1e1e;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-weight: bold;
    padding: 10px 15px;
    color: #f0f0f0;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffab91; /* Pastel orange */
}

.intro {
    text-align: center;
    padding: 100px 20px;
}

.intro h1 {
    font-size: 48px;
    color: #82b1ff; /* Pastel blue */
}

.intro img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.about h1, .about p {
    margin: 40px auto;
    text-align: center;
    color: #ffab91; /* Pastel orange */
}
